#root {
  width: 100%;
}

.header {
  background: var(--Gradient-1, linear-gradient(290deg, #D6E6FE 0%, rgba(214, 252, 254, 0.00) 100%));
  border-radius: 0px 0px 35px 35px;
  padding-bottom: 30px;
  height: fit-content;
  padding-top: 30px;
  padding-bottom: 250px;
  position: absolute;
  top: 0;
  left: 0;
}

h1 {
  font-size: 48px;
  text-align: center;
  width: 60%;
  margin: auto;
}

.logo-img {
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.header-p {
  width: 85%;
  margin: auto;
  text-align:center;
  margin-top: 30px;
  font-size: 16px;
  line-height: 24px;
}

.bmi-calculator-container {
  display: flex;
  flex-direction: column;
  width: 85%;
  position:relative;
  margin: auto;
  margin-top: 450px;
  height: fit-content;
  padding-bottom: 50px;
  border-radius: 16px;
  background: var(--pure-white, #FFF);
  box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  z-index: 8;
  
}

h3 {
  
  font-size: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  
}

.unit-container {
  display: flex;
  margin: auto;
  width: 75%;
  justify-content: space-between;
  
}

.unit-btn {
  height: 40px;
  width: 110px;
  border-radius: 10px;
  border: 1px solid #d6e6fe;
  background-color: #FFF;
  font-size: 17px;
  font-weight: 500;
}

.unit-btn:hover {
  background-color:#345FF6;
  color: #FFF;
}

.unit-btn-onclick {
  background-color:#345FF6;
  color: #FFF;

}

.imperial-unit-container {
  display: none;
}

.imperial-ft-in-container {
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: space-between;
  

}
.input-container {
  width: 100%;
  margin-top: 20px;

}

input-container-two {
  display: flex;
}

input {
  border-radius: 12px;
  border: 1px solid #D8E2E7;
  background: var(--pure-white, #FFF);
width: 90%;
  height: 34px;
  font-size: 20px;
  color: #345FF6;
  text-align: center;
  margin: auto;
}

.imperial-input {
  height: 40px;
  width: 100px;
  text-align: center;
  margin: auto;

}

.height-weight-input-container {
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 35px;
  margin-top: 35px;
}

label {
  margin-left: 8px;
}

.bmi-result-container {
border-radius: 16px 999px 999px 16px;
background: linear-gradient(90deg, #345FF6 0%, #587DFF 100%);
width: 90%;
height: 125px;
margin: auto;
margin-bottom: 20px;
display: flex;
justify-content:space-around;
align-items: center;
color: #FFF;
}

.bmi-result-meaning-container {
  display: flex;
  width:90%;
  justify-content: space-evenly;
  margin: auto;
  background: var(--Pure-White, #FFF);
  margin-top: 100px;
}

.eating-man-container,.bmi-result-text-container {
  width: 50%;
}
